[2018-09-18 07:03] pranay01 opened #46 "Stuck at the identity creation page.."
I followed the instructions in the README but stuck at the Identity creation page.. How can I see if the transaction is actually relayed to the Ganache instance or  not?
![screen shot 2018-09-18 at 12 31 34 pm](https://user-images.githubusercontent.com/504541/45669920-14bc0400-bb3f-11e8-93f6-62fbffad07b8.jpg)

[2018-09-18 07:37] #46 closed

[2018-09-18 07:37] pranay01 opened #47 "Can't do yarn ens:deploy - get no gas error"
![screen shot 2018-09-18 at 1 06 00 pm](https://user-images.githubusercontent.com/504541/45671705-c78e6100-bb43-11e8-97d3-60be08082b0b.jpg)

[2018-09-18 13:35] #47 closed

[2018-09-25 13:57] Kyrrui opened #63 "When using new quick deploy option, ENS contracts do not deploy correctly."
When building with quick deploy option and trying to log in:
<img width="1446" alt="screen shot 2018-09-25 at 9 54 45 am" src="https://user-images.githubusercontent.com/8539426/46019115-5aca1800-c0a9-11e8-84fc-e176cc1d212e.png">

When doing manual deploy, works normally.

[2018-09-25 15:49] marekkirejczyk commented on #63
Did you try to run `yarn` and `yarn build`?

[2018-09-25 20:29] Kyrrui commented on #63
Yes, just tried again and received the same issue.

[2018-09-28 04:12] pranay01 opened #70 "Not able to approve pending transaction"
I run localhost:1234 on 2 browser clients in same machine. On one I create a user id, in other I try to login with the user id created in the first browser. I get pending authentication notification in the first browser - but I am not able to accept authentication. Attached is the browser console log

![screen shot 2018-09-28 at 9 38 04 am](https://user-images.githubusercontent.com/504541/46187722

[2018-09-28 13:52] Kyrrui opened #73 "Parallelize Community Contributions"
Hey @marekkirejczyk and @JustynaBroniszewska!

Currently I am focusing on a fork of this project full time. I would like to contribute back to the parent repo as much as possible, but I'm not sure what you guys are working on. If we could set up a quick community call to set up a task board or something similar then I could help you guys speed up progress towards your demo at Devcon4.

Cheers,
Kyl

[2018-09-28 13:55] #63 closed

[2018-09-30 09:39] marekkirejczyk opened #76 "Generating backup keys"
We would like to implement the Backup Keys functionality in the example application.

Functionality is mocked in the application already.
To get there one needs to login/create identity than click Account -> Backup code -> "GENERATE NEW CODE".

The feature is pretty big, and therefore I would propose to split it into multiple PR:

### 1.  UI and backup phrase generation
This will require changes i

[2018-09-30 09:42] marekkirejczyk commented on #73
Hi @Kyrrui,

It is a great idea.

I created a [board](https://github.com/EthWorks/UniversalLoginSDK/projects/1) and a first [task](https://github.com/EthWorks/UniversalLoginSDK/issues/76). More tasks are commin in following weeks.
I'll create more in the future. Please feel free to ask question :)

Marek

[2018-09-30 09:42] #73 closed

[2018-09-30 16:59] Kyrrui commented on #76
I will take on this task :)!

[2018-10-01 14:39] Kyrrui commented on #76
Today I am working on step 1 of this issue "1. UI and backup phrase generation"

[2018-10-01 17:05] marekkirejczyk commented on #70
We can't reproduce. I propose following procedure:
Clean and do a full rebuild
[code]

Try running again (make sure you use new runner):
[code]

And let us know if it worked.

[2018-10-03 15:11] Kyrrui commented on #76
@marekkirejczyk Perhaps a step 4 should be added to this ticket once adding multiple keys has been completed -
Step 4. Create a alternative login where user uses backup code

[2018-10-03 20:27] Kyrrui opened #86 "[Suggestion] Overload AddKey and AddKeys with additional argument for IPFS hash"
Since we want to be storing and displaying information about the users devices - (Browser, Operating System, Location) - we need to either create a centralized data store which maps public keys to information about users devices OR I propose we:
1. Overload AddKey and AddKeys to include `string _ipfsAdditionalData` and `string [] _ipfsAdditionalData` respectively.
2. Store json blob about device,

[2018-10-03 20:43] alexvandesande commented on #86
My problem with that is that it's (1) more expensive to store blobs and (2) potentially leaks private information about which devices you use. Here's what I would suggest:

A) Don't keep any private info about keys anywhere. Just save locally and that's ok.

B) We start with A but then: have each key sign a message with all the local information they have about the devices and other meta informati

[2018-10-04 14:09] alexvandesande opened #88 "Having a generic authorization contract for each key"
Currently when you approve a new device to use your app, it is by default a "management key" which means that it has unlimited powers to do anything they want to the contract. The only limits on keys are given by the `purpose` and the `requiredApprovals` number set by ERC725 standard. This is insufficient.

Consider the case in which you might want to add a phone that is able to add and approve ne

[2018-10-04 14:19] mkosowsk commented on #76
@Kyrrui this 350 DAI bounty has your name on it! Please apply at your earliest convenience and you will be approved.

To all other bounty hunters, please do not apply for this bounty as you will not be approved.

Bounty will be paid out once this issue is completed, great work so far! 👍

[2018-10-04 18:52] alexvandesande opened #90 "Counterfactual deployment of contract address"
One of the main drawbacks of the contract as your account is that it creates a fixed cost for user acquisition. This can be improved by "counterfactual deployment" or, a method in which you can deterministically sign a transaction in which you are certain of what will be your final address, in a way that it can be deployed by anyone later. It has the following advantages:

1. The user knows their

[2018-10-05 12:59] alexvandesande opened #93 "Save private keys in non-volatile areas"
Currently, the private keys are stored in session storage and are lost when the app refreshes. While that's actually useful for testing purposes for fast login, we need to move all the app information to a more secure place: localstorage, localdb, cookies, maybe even in more than one place, so that the keys are hard to lose and sessions persists.

[2018-10-05 13:01] Kyrrui commented on #93
I will take on this task.

I have implemented this in the boomerang fork of this project for just local storage, but I would like to research this topic more and develop a more secure solution

[2018-10-05 13:38] alexvandesande opened #94 "Add option to use test network"
It would be very useful for hackatons and other similar spaces if there was an easy `yarn build` option that would use a test network (Rinkeby?) and infura for the connections. In this manner, multiple projects could collaborate, use each other logins, and have a real "multi user" experience.

*priority: low, nice to have*

[2018-10-05 14:11] Kyrrui commented on #94
@alexvandesande I would argue more than nice to have... Perhaps we can work on this at the Status hackathon in Prague. I will definitely need this for my work at BoomerangProject.io

[2018-10-09 03:40] Kyrrui commented on #93
After doing some research, [this](https://developer.chrome.com/apps/offline_storage#persistent) seems like the best option. I will look for a wrapper implementation.

[2018-10-09 04:45] Kyrrui commented on #93
I also propose an addition to this: allow the user to save a backup code associated with their device private key onto their file system, or would this confuse the user too much?

[2018-10-09 12:52] alexvandesande commented on #93
Interesting, didn't knew such options existed, sounds good. To reiterate: I'm against having the user download their local private key. That's what the backup codes are for.

[2018-10-09 22:27] Kyrrui commented on #70
It has been over a week with no response by issuer, I will close for now

[2018-10-09 22:27] #70 closed

[2018-10-09 22:30] Kyrrui commented on #86
I don’t think it is that expensive to use ipfs + ethereum log to store this information, but I do agree it risks leaking user information. For now I will build it with info just stored locally

[2018-10-09 22:30] #86 closed

[2018-10-10 03:56] abcoathup opened #98 "Generate backup codes should save the new code"
Generate backup codes should save the new code, as currently not obvious to a user that the backup code generated needs to be saved.

Currently the flow is:
1. Go to Account page
2. Press Backup code button
3. Press Generate New Codes
4. A new code is generated, with instructions to print
5. A user prints the backup code
6. A user needs to press the Set as Backup Codes button before it can be used

[2018-10-10 04:03] abcoathup opened #99 "Creating a new login for a domain that doesn't exist should fail nicely"
If you create a new login for a domain that doesn't exist, then the app keeps showing Creating ID page.

1. In the login, type bob.notexists.eth
2. Press the create button to create login bob.notexists.eth
3. App shows Creating ID page

Ideally creating a new login for a domain that doesn't exist should fail nicely with some sort of message that login notexists.eth doesn't exist or couldn't be fou

[2018-10-10 12:14] alexvandesande commented on #76
I am satisfied with the result and I move we close this issue and pay the bounty!

[2018-10-10 13:16] alexvandesande opened #102 "Integrating with 3box or similar way of storing data"
[3Box.js by uPort](https://github.com/uport-project/3box-js) is a project for keeping private and public data about an account without relying on blockchain storage. It is currently under development and requires metamask, but it would be interesting to have it integrated with Universal Logins at some point.

From my understanding, it uses orbit-db which is a single key database that is kept in sy

[2018-10-10 16:01] alexvandesande opened #105 "Show greetings.js after connection and backup"
After the user has his connection approved, and after they have recovered from backup, they should be redirected to greeting view.

The greetings View should also reflect the current state of token granted: instead of saying "you'll get x tokens for doing N" it should say "you did N and got x tokens for it"

[2018-10-10 17:19] mkosowsk commented on #76
Great work @Kyrrui! Bounty has been paid :)

@alexvandesande please tag any more issues on the repo you think would be good for the community to tackle using [Gitcoin requests](https://gitcoin.co/requests)

[2018-10-10 20:20] Kyrrui opened #106 "Backup code doesn't work when going through Login->Connect->Recover flow"
Backup code doesn't work when going through Login->Connect->Recover flow, I will try fixing in https://github.com/EthWorks/UniversalLoginSDK/pull/97

[2018-10-10 21:22] Kyrrui commented on #106
https://github.com/EthWorks/UniversalLoginSDK/pull/97 Fixes

[2018-10-11 02:58] abcoathup commented on #98
UniversalLogin is going to get a lot of visibility and hopefully lots of use soon, so I think this is really important before it starts getting adopted.

I believe that showing a code that isn't saved is highly dangerous.
Users will assume that the recovery code is live. (I did and then realised that I needed to save it first).

We will end up with users who thought they had printed a recovery cod

[2018-10-11 03:09] abcoathup opened #107 "Centralised recovery option"
In Alex's Unconf video in May one of the recovery options mentioned was centralised recovery, that users could disable/enable.

I think this will be important for onboarding users new to decentralisation.

[2018-10-11 04:36] Kyrrui commented on #107
I agree, we’re going to implement this in Boomerang. It might be beyond the scope of this example project, because it requires a third party verification process ( database with emails, passwords and such), but it’s simple as adding the central recovery key to the Identity on contract creation, having the third party verify by some means you own that account, and them adding your key.

[2018-10-11 11:13] oed commented on #102
Glad to hear that you have looked into our project @alexvandesande 🙂
Right now 3box requires a regular ethereum account to create the db for a user. Universal login and multi-device support is something that we definitely want to support though. Let's catch up at devcon and explore how to get this working!

[2018-10-11 11:45] michaelsena commented on #102
Hey @alexvandesande, as @oed mentioned we'd love to get these two projects working nicely together! I'm going to contribute additional ETH to this bounty to see if we can help you get the community thinking about this!

[2018-10-11 12:33] alexvandesande commented on #102
To be clear, universal logins DOES have regular ethereum accounts that are [able to sign messages via ether.js](https://docs.ethers.io/ethers.js/html/cookbook-signing.html#signing-a-string-message). The only difference here is that we separate the accounts that are able to sign from the one contract account that holds funds. So if a user has a login and has 3 keys in separate apps/devices that are

[2018-10-11 12:37] alexvandesande commented on #98
I agree. I will try to think about ways to make this process more clear, with more warnings before the user leaves it, a dedicated print button, etc

[2018-10-11 12:43] alexvandesande commented on #107
A centralized recovery is not that hard, all you need to do is add by default one management key that is controlled by the app provider. The problem is that this key becomes a central point of failure in which if that server is hacked, every user who logged in via that service and didn't add extra security features will be doomed also. In order to prevent that I'd like that key to have some sort o

[2018-10-11 12:54] oed commented on #102
Yeah, we need to explore different ways of allowing a 3box to be owned by multiple keys.

Have you looked into ipfs pubsub? It works really well when you are connected to the right peers, but it does require you to run an ipfs node in the browser. Peering isn't working very well yet though, but I think it's fine if you both are using the same boot nodes. Might be worth exploring for you at least 🙂

[2018-10-11 22:11] shine2lay commented on #88
@alexvandesande Here is my implementation plan, would love some feedback on it!

Additions:
- GeneralAuthorizationInterface.sol
  - isActionAuthorized() (param list for each will be updated later)
  - initAuthorization()
  - addAuthorizedAccount()
  - revokeAuthorizedAccount()
  - actionExecuted()
- AuthorizationWhiteListedAddress.sol (Checks if address is interacting with a whiteListed address)
-

[2018-10-12 08:28] oed commented on #102
Oh, yes that's an interesting concept. Requires some more work on the 3box library side to support multiple dbs in one interface though.
What I was referring to is more like multiple keys having commit access to the same repo. Since orbit-db uses a CRDT "forks" will automatically get "merged" into the same data structure.

[2018-10-13 12:59] Perseverance commented on #90
Guys, I've started working on this. Will soon submit a PR performing 75% of what is written here.

[2018-10-13 19:05] pet3r-pan opened #110 "Meta-tx community call 1 - Contract abi"
**Issue:** Hello, I have an issue in reaching you @marekkirejczyk

***

Jk. Lol. I hope you don't mind this extremely intrusive and out of place github issue but I couldn't reach you anywhere else.

Alex van de sande raised an excellent suggestion of having you lead our next meta-tx community call around the contract abi standardisation

We have got a few more teams uploading their code: https://g

[2018-10-14 14:44] marekkirejczyk commented on #110
Hi @pet3r-pan,

I will be honored.
You can reach me via email: marek@ethworks.io.

Thursday sounds excellent.

Marek

[2018-10-14 14:44] #110 closed

[2018-10-14 14:50] marekkirejczyk commented on #107
Hi,

That is something I would like to see on the roadmap.
Things to consider:
- I would call it "trusted 3rd party recovery"
- I would at least partially implement it in the relayer
- I would make it a factor of authentication rather than just recovery option.
So that if I lose all of my devices, I still need two factors to recover: e.g printed code + trusted 3rd party or friends + trusted 3rd pa

[2018-10-14 19:09] marekkirejczyk commented on #99
It is in our internal backlog

[2018-10-14 19:10] marekkirejczyk commented on #94
It is in our internal backlog

[2018-10-14 21:14] michaelsena commented on #102
@CPPDevCrypto thanks for picking this bounty up! If you have any questions about 3Box, you can ask them on this thread or in the [3Box discord](https://discord.gg/TAefehN). We're happy to help and please let us know if anything isn't working perfectly :+1:

[2018-10-14 22:00] CPPDevCrypto commented on #102
Hey thanks, will jump in on discord.

On Sun, 14 Oct 2018, 22:14 Michael Sena, <notifications@github.com> wrote:

[2018-10-14 23:35] mkosowsk commented on #88
@shine2lay you have been approved to start work on this bounty :)

@alexvandesande please provide feedback on @shine2lay's action plan at your earliest convenience. Thanks!

[2018-10-16 16:45] Kyrrui opened #117 "[Discussion] Identity between DAPPs"
With web browser based storage we do not have the ability to save identity credentials between DAPPs. This seems like a big limitation because it would become costly and cumbersome for a user to add credential keys for every DAPP website they visit. Perhaps we should consider creating a browser plugin that can store and deliver the credentials to an app?

[2018-10-16 17:02] alexvandesande commented on #117
Not sure I understand what you meant. Do you mean that it would share credential information between all the apps I visit? That sounds like a terrible security nightmare! I prefer have specific authorizations per app, so that I am sure the app cannot steal my money.

[2018-10-16 17:56] Kyrrui commented on #117
I'm not sure what the best solution is, but I don't see people who interact with 10 different DAPPs wanting to do 2 factor authentication for each one, especially on the same device.

[2018-10-16 18:42] alexvandesande commented on #117
One solution would be to have a flow similar to oauth:

1) User creates wallet at mywallet.com
2) User goes to mycoolgame.net and asks to login
3) mycoolgame.net makes the standard request, but while they wait, they redirect the user to mywallet.com/request?1234
4) user sees a mywallet.com confirmation that asks them to authorize mycoolgame.net and clicks "ok"
5) user is back at mycoolgame.net wit

[2018-10-16 22:20] Kyrrui commented on #117
Any ideas on how we would detect their default wallet?

[2018-10-17 03:57] Kyrrui commented on #107
This isn't in the scope of this example project, but at Boomerang we're going to deploy identity contracts pre-loaded with tokens through our first integrated business, Skedaddle, who will be the key holder of these contracts.

The user is prompted after completing a review to claim a reward (their identity + tokens), we will give them their ENS username and a recovery key. In our UI we will have

[2018-10-17 11:29] alexvandesande commented on #107
I am all for experimenting with "trusted third party recovery" as long as:

* If the trusted third party is hacked, then it cannot overtake on its own, all users funds
* The user must understand the system and consent to it
* The user should offered how to remove or change the trusted third party, specially if it starts to hold too much on the contract

[2018-10-17 11:49] alexvandesande commented on #117
I think it's inevitable that we'll need some ways to have public information associated with each account, maybe through 3box or not.

But honestly, considering that in the beginning there would be very few providers, a good UX could be simply:

1. App makes a connection request in the background to the relayers
2. While waiting, the app shows the user a selection of most popular wallets and asks

[2018-10-17 11:59] alexvandesande commented on #117
Here's how the connection request could look like:

<img width="779" alt="screen shot 2018-10-17 at 8 58 21 am" src="https://user-images.githubusercontent.com/112898/47084751-e4718f00-d1ea-11e8-9a28-bc6acf5a1987.png">

[2018-10-19 01:33] Kyrrui opened #118 "[IDEA] Keys that can only interact with one token type"
In the name of security, I think it would be awesome to have keys that are limited to transferring only one type of token on an identity. This way, if a user has an identity and adds a key from this clicker example, that key can only use kilks. This way, even if a key from the clicker service becomes compromised, the other funds in the users identity are guaranteed safe.

[2018-10-19 12:09] alexvandesande commented on #88
I support Shine's action plan and we've talked previously about it. I would like to share a diagram description of the functions he describes:

<img width="738" alt="screen shot 2018-10-19 at 9 08 34 am" src="https://user-images.githubusercontent.com/112898/47217398-9e4d3480-d37e-11e8-879a-eb7a9c44e5ef.png">
(in this case, the identity is the `executor` and an external chosen contract would be the

[2018-10-19 12:12] mkosowsk commented on #88
@alexvandesande Diagrams look awesome! Great way to share info 👍

[2018-10-19 12:17] alexvandesande commented on #88
Something that we need to think about, which @mkosowsk raised, is how to handle multiple authorization contracts. If key A needs to call authorization contract A1 and key B calls authorization contract B1, then how does the identity handle when user A and B try to do action C? Does the contract call each authorization contract with both users on it? What if A1 doesn't know anything about user B? W

[2018-10-19 12:18] alexvandesande commented on #118
This will be possible with authorization contracts: https://github.com/EthWorks/UniversalLoginSDK/issues/88

[2018-10-19 12:18] alexvandesande commented on #118
I'm closing this issue, as it's sort of a duplicate of that

[2018-10-19 12:18] #118 closed

[2018-10-21 03:30] Kyrrui commented on #117
I think conceptually these should be called "Identity Providers" and not "Wallet Providers" - thoughts?

[2018-10-21 08:14] alexvandesande commented on #117
Makes sense. “Primary login service”?

[2018-10-21 19:56] Kyrrui commented on #117
I think 'Identity Provider' should be the name, because these services will encapsulate more than just your primary login - they also distributed your identity to you in the first place, for example with Boomerang, Skedaddle will be our 'Identity Provider' for new users wanting to use Boomerang at first of course the user could have already created an identity previously through another 'Identity

[2018-10-22 14:44] alexvandesande commented on #90
We have a working bounty now!
https://gitcoin.co/issue/EthWorks/UniversalLoginSDK/90/1567

[2018-10-24 23:55] ryan-shea commented on #102
Hey @CPPDevCrypto, Ryan from Gitcoin here. Checking in on this issue. Are you still working on it? Can I help in any way? Let me know if you have any questions 😄 🌐

[2018-10-25 15:00] mkosowsk commented on #90
@Perseverance this looks good for the most part but make sure to answer any last questions by @marekkirejczyk :)

[2018-10-26 09:15] CPPDevCrypto commented on #102
Hey there I have been doing a fair bit of research and looking as to the
best way to achieve the end goal.

Will post a update shortly.

On Thu, 25 Oct 2018, 23:47 Tyler Yasaka, <notifications@github.com> wrote:

[2018-10-26 12:03] oed commented on #102
@tyleryasaka @CPPDevCrypto Nice 😄
We have a research thread going on here: https://github.com/uport-project/3box-discovery

[2018-10-26 12:04] oed commented on #102
@tyleryasaka @CPPDevCrypto Nice 😄
We have a research thread going on here: https://github.com/uport-project/3box/issues/251

[2018-10-26 16:19] alexvandesande opened #123 "Ethereum Hackaton #cryptolife bounty thread"
This is a thread for anyone participating in Status #criptolife Hackaton in Prague. The best universal logins project will get a $1000 in dai (or ether)

[2018-10-27 15:53] David405 commented on #123
@alexvandesande how does one contribute remotely?

[2018-10-27 16:09] alexvandesande commented on #123
@David405 this bounty is exclusive for those in the Hackathon. We have other open bounties.

[2018-10-28 02:16] mkosowsk commented on #123
Hey @alexvandesande, I like this idea! But I think 1000 DAI for first place is a bit lonely, how about I add 500 DAI for 2nd place and 250 DAI for third place? 👍

If we just put the 2nd and 3rd place winners in this Github thread, I will make sure to tip them their earnings. Thanks!

[2018-10-28 10:40] alexvandesande commented on #123
Awesome Mitch, great idea!

[2018-10-28 13:16] mkosowsk commented on #123
Thanks! And thanks to the ECF Web 3.0 Infrastructure Fund for providing the resources :)

[2018-10-31 15:37] moodysalem commented on #93
Local storage isn’t secure. For example, if one application using the SDK has a cross site scripting vulnerability, it can read local storage of the host and steal funds. Or, if the DNS is hacked, that can also expose local storage to attackers.

With my understanding of how universal login works, exposing the private key of a single app can expose a user’s funds in the proxy contract.

Instead, I

[2018-10-31 17:30] adamsoffer opened #130 "Playground example error"
I recently watched @alexvandesande's talk on universal logins and I'm super excited about this project! I went to check out the [example app](https://universal-login-example.netlify.com/) and noticed an error and wanted to bring it to your attention.

After creating an ID the loader spins perpetually. I'm seeing this in the console

[code]

[2018-10-31 17:59] Kyrrui commented on #130
Ah yes, your probably used an upper case character in the name, thanks for pointing out this issue, I know how to fix and will make a PR since I fixed this for our hackathon project

[2018-10-31 18:30] Kyrrui commented on #105
@alexvandesande this is finished right? Can I close?

[2018-10-31 19:11] Kyrrui commented on #93
@moodysalem Are localDB and webSQL vulnerable as well? The library I use tries those two storage methods before it ever touches localstorage.

[2018-10-31 19:33] moodysalem commented on #93
Yes, and actually the problem isn’t just attackers targeting the website but also the developer of the website. E.g. if I’m malicious I might create a nice looking wallet and get users to log in to see their funds which gives me access to a private key to their proxy contract-even though my app may function perfectly well I now have access to a private key to do what I please.

I think that the st

[2018-11-01 10:03] moodysalem commented on #93
If private keys on the device are limited in scope and duration this is fine, they are a lot like OAuth2 access tokens. But there has to be a few root devices or apps that have full permission, including to authorize new devices. The onboarding experience would have to happen in a trusted app or an account could be compromised immediately and the user wouldn’t know until they get owned.

[2018-11-01 21:09] alexvandesande commented on #105
Has it been merged elsewhere? Have to ping marek

[2018-11-01 21:09] alexvandesande commented on #93
Hi moody, we are aware and will make changes to the system. But a browser extension would defeat the purpose só my proposal would be:

1) keys generated purely on a browser should have limited access. For instance it should require a second signature from a safer place to be able to add keys. Initially that second key could be stored in the dApp server, that would make an email (or other) type of

[2018-11-01 21:49] moodysalem commented on #93
How about something like the OAuth2 implicit grant flow:

1. User reaches DAPP website
2. User clicks log in
3. User is redirected to IPFS URL for universal login page, with list of requested scopes, e.g. send transaction to contract X with value up to Y and arguments Z0, Z1, ..., send ETH up to X wei
4. If user is already logged in (localStorage) ask if requested scopes may be granted to the DAPP

[2018-11-02 00:44] Kyrrui commented on #98
@abcoathup @alexvandesande Let me know if you'd like to re-open this issue, closing for now to keep the repo clean as conversations seems resolved for now.

[2018-11-02 00:44] #98 closed

[2018-11-02 08:53] abcoathup commented on #98
@kyrrui Whilst the example app still has the potential for users to end up with recovery codes that they haven’t saved then I believe we should keep it open until resolved.

[2018-11-02 14:15] Kyrrui opened #131 "Integrate Dapparatus Transaction Load Bars"
I was talking with @austingriffith here at DEVCON4 and I think we should add his transaction loader to the UI (especially for mainnet when the user has no idea when transactions will go through). A little work needs to be done on the dapparatus side, but I will talk with Austin about this.

[2018-11-03 14:04] abcoathup commented on #98
I’ll have a look when I get back to Australia (just waiting to take off).

A warning could still end up with users with codes printed and stored away thinking they are safe but the codes are not saved.

I still strongly believe the example app (which developers will use as best practice) should not show codes until they are saved onchain.

[2018-11-03 14:21] canepat opened #132 "Quick example does not work using multiple devices"
Hi all,

I've watched a couple of talks by @alexvandesande about Universal Login and I'm really interested in the project which looks great.

I've forked and launched the quick example obtaining a strange behavior, which seems an error, when using multiple devices. After activating the example using `yarn dev:start` on my desktop machine, I can create new identity from a local browser but cannot c

[2018-11-04 11:27] antoineherzog opened #133 "[Bug] Example is not working"
Hi Everyone

I tried to run the example

https://universal-login-example.netlify.com/

But it seems it is not working. I have We are creating your new ID, please wait a minute...

Forever..

Thank you!

Antoine

[2018-11-05 15:43] Kyrrui commented on #133
Hey @antoineherzog, I believe this to be a duplicate of issue #130, closing for now.

[2018-11-05 15:43] #133 closed

[2018-11-06 10:59] marekkirejczyk commented on #132
Sounds good!
Alternatively, we could prepare a docker.

Looking forward to your contributors.

[2018-11-06 10:59] marekkirejczyk commented on #131
Do you have a link to the loader?

[2018-11-06 11:00] marekkirejczyk commented on #130
Should be fixed by now. Let us know if you can reproduce.

[2018-11-06 11:00] marekkirejczyk commented on #123
Is it now settled? Can we close the issue?

[2018-11-06 11:03] marekkirejczyk commented on #117
I would argue it is reasonable to have 10 keys for 10 different dapps, as each I would be granting different access level and each I can connect or disconnect separately.

E.g.
I have one key for 0x that I trust completely and can do transactions alone, while dharma key has daily limit 1000 and monthly limit 10000, above that I need to another key to confirm.

[2018-11-06 11:05] marekkirejczyk commented on #105
I guess we are talking about [PR115](https://github.com/UniversalLogin/UniversalLoginSDK/pull/115),

[2018-11-06 11:05] #105 closed

[2018-11-06 13:32] Kisgus commented on #123
Mikhail, myself and the rest of the "onbotting.eth" team was announced winnners at the Hackathon.
I have sent @alexvandesande an email regarding details. Is there anything else we should do in order to claim this price?

Also @marekkirejczyk when would you be available to discuss with us how we can best merge/coordinate our contribution with your continued work on the Universal Login SDK?

[2018-11-06 16:37] austintgriffith commented on #131
The loading bars are a small piece of a much bigger set of React components known as Dapparatus. Happy to help with any integration and would love collaboration. The repo is here: https://github.com/austintgriffith/dapparatus and there are a few others that are spinning up to help with the project too.

[2018-11-06 16:39] austintgriffith commented on #131
The transaction and block time loader bars are located in the <Transactions /> component. They try to predict how long a tx or block will take: https://github.com/austintgriffith/dapparatus/blob/master/src/transactions.js This component also exposes a tx() function for the developer. This allows the dev to simply pass the call in and get a callback and the function itself is smart enough to determ

[2018-11-06 16:40] austintgriffith commented on #131
You can watch a live demo where I bring this component and many others in to create a gasless experience for the end user where the developer remains agnostic to their behavior. It was presented as a workshop at devcon4: https://medium.com/@austin_48503/buidlguidl-0x2-meta-transactions-be3ea1d076a6

[2018-11-07 13:35] #132 closed

[2018-11-08 04:46] ryan-shea commented on #88
Hey @shine2lay, Ryan from Gitcoin here. How is this coming along? I saw your PR, #119, but haven't seen much activity on this thread or the PR in a week or so.

[2018-11-08 16:59] shine2lay commented on #88
@ryan-shea I was at DevCon last week, met some folks there and discussed solution for this PR. We are not entirely sure what is the best solution yet.

[2018-11-09 11:47] canepat commented on #99
@marekkirejczyk I would like to contribute on this issue if no one is already working on it.

As a start I would post a brief analysis with my comprehension of the problem and the proposed solution for review

[2018-11-09 13:38] marekkirejczyk commented on #99
@canepat Looking forward to your PR. Let me know if you would like to schedule a short call to discuss it.

[2018-11-13 11:43] marekkirejczyk opened #140 "Universal Logins - summary of milestone one"
This is a high-level summary of work accomplished in milestone one of Universal Logins.

### The purpose of the Github issue is to:
- document the work done for this bounty
- serve as a Github issue that will be used by the Gitcoin smart contract

### Summary
- Implementation of ERC1077 (Executable signed message) and 1078 (Universal Logins)
- Working smart contracts that register ENS subdomains a

[2018-11-14 02:15] ceresstation commented on #102
Hey @CPPDevCrypto unfortunately if we don't hear back by end of day tomorrow we'll have to give this issue back to the crowd, are you able to update us on your progress?

[2018-11-19 17:49] ChrisCates commented on #102
I've sent in a PR for review.
Seems like there are some issues with ipfs-mini and 3box when connecting to infura.io

https://github.com/UniversalLogin/UniversalLoginSDK/pull/145

[2018-11-21 09:53] ceresstation commented on #88
Hey @shine2lay any additional updates on this? Snoozing the bot :)

[2018-11-26 18:34] #130 closed

[2018-11-26 18:35] Kyrrui commented on #93
Hey @moodysalem, I'm working on a solution to this that we can hopefully integrate into this project - check out tor.us

[2018-11-27 01:33] ChrisCates commented on #102
Here are some reference PR/Issues from the 3box source libraries, to keep up to date on what I'm doing.

https://github.com/uport-project/3box-pinning-server/pull/21

https://github.com/uport-project/3box-address-server/issues/42

[2018-11-27 08:37] ChrisCates commented on #102
@oed this is purely for testing purposes.

By no means would I intend on using this in production.

It's not that much extra legwork to port the requests to an express server and then make it accessible via command line.

[2018-11-27 08:39] ChrisCates commented on #102
I am probably going to close that issue though since it's essentially redundant since they intend on upgrading it to a decentralized solution that can run locally (or distributed).

[2018-11-27 08:45] oed commented on #102
@ChrisCates I see, thanks for clarifying! :D

[2018-11-28 14:37] rad-p opened #151 "Cannot build example"
[code]
[code]
[code]
[code]

[2018-11-28 22:57] Kyrrui commented on #117
@marekkirejczyk  I agree long term this should be the use case, but every add key will have an associated gas cost, so while using the network is still relatively expensive I don't think adding a key per dapp is the ultimate solution. I'm now working on a project that uses a implementation of shamir's secret sharing to allow you to retrieve a private key from a google sign in. This could perhaps b

[2018-11-29 13:32] FSM1 commented on #151
this seems to be caused by the flatmap package being pulled: https://snyk.io/vuln/SNYK-JS-FLATMAPSTREAM-72637

[2018-11-29 13:37] FSM1 opened #152 "Build fails on Windows"
The build command fails when executed on Windows.

Resolution is probably to integrate cross-env on the babel calls.

[2018-11-29 15:23] FSM1 commented on #151
@rad-p removing the dependency from the yarn.lock file fixes the problems. I have submitted a PR to fix this. In the mean time https://github.com/UniversalLogin/UniversalLoginSDK/pull/153.

[2018-11-29 16:41] JustynaBroniszewska commented on #151
Hi, this is a good point! This issue was high-priority, so we already resolved it.
Btw removing `event-stream` from yarn.lock was not enough. We had to update `goeip-lite` to version 1.3.5, that doesn't use `save` dependency, which uses `event-stream`.

Here is solution: [#154](https://github.com/UniversalLogin/UniversalLoginSDK/pull/154)

Thank you for your help. We look forward to your next cont

[2018-11-29 16:41] #151 closed

[2018-11-29 19:56] #93 closed

[2018-11-29 19:59] FSM1 commented on #151
great stuff @JustynaBroniszewska thanks for sorting this out so quickly.

[2018-11-29 21:57] moodysalem commented on #93
@Kyrrui can you describe the solution implemented at tor.us?

[2018-12-03 18:50] gtlewis opened #156 "Pending Authorisations"
The queue of pending authorisations should rather be stored on chain - in the identity contract - rather than in the relayer. I envisage relayers just providing gas relay service - not storing state.

[2018-12-04 08:21] Kyrrui commented on #93
@moodysalem Sorry it took so long to get back to you. I'm new at Torus and have only dabbled into the full solution, but we're using a modified version of Shamir's Secret Sharing called Publicly Verifiable Secret Sharing. We will have a handfull of nodes that are controlled by orgs such as Consensys, Binance, and a few other big names. By querying these nodes you can assemble your private key, but

[2018-12-04 14:22] canepat opened #158 "Standard Relayer off-chain interface"
As far as real adoption is concerned, the Relayer component has a key role in the Universal Login system.

The off-chain interface offered by the Relayer, referred as `IF-6` in the [system architecture diagram](https://github.com/UniversalLogin/UniversalLoginSDK/blob/master/modeling/subsystems.png), could be IMHO well worth the proposal of a standard in terms of:
- the application layer format, i.

[2018-12-05 08:44] gtlewis opened #159 "Visual representation of key in authorisation requests"
A malicious gas relayer could substitute the key in an authorisation request with a key they control. Therefore a visual representation of the key (e.g. blockie) should be displayed with pending authorisations (instead of browser / OS / IP). This should also be shown when requesting to connect - so user can visually confirm they match.

[2018-12-06 11:54] alexvandesande commented on #159
Thank you. But we should discuss other solutions for the same problem: could you use a PIN code instead, so that a malicious actor cannot send authorizations? Or maybe use something other than blockies (some apps use a 4 emoji check)

[2018-12-06 12:22] gtlewis commented on #159
The problem with a PIN code is that the malicious actor could still swap in their own key under the code. Hence why a visual representation of the key works, agree that blockies may not be the best way - 4 emojis sounds promising.

[2018-12-06 13:20] gtlewis commented on #156
Actually storing the authorisation requests on chain - in conjunction with gas relayers - exposes the identity contract to griefing attacks (gas will be refunded to any and all authorisation requests). However storing the authorisation requests in the gas relayers still feels wrong - gas relayers should only relay signed transactions, as soon as their functionality is extended beyond this other at

[2018-12-06 13:31] alexvandesande commented on #159
Wait, what is the threat model here? Is the malicious attacker in control of the interface code? Because then they can also show the incorrect blockie.

[2018-12-06 13:36] gtlewis commented on #159
No, it is rather a malicious gas relayer. Currently pending authorisations are stored in the gas relayers (#157) - so a malicious gas relayer could substitute their own key in the authorisation request.

[2018-12-06 13:36] gtlewis commented on #159
No, it is rather a malicious gas relayer. Currently pending authorisations are stored in the gas relayers (#156) - so a malicious gas relayer could substitute their own key in the authorisation request.

[2018-12-06 15:23] alexvandesande commented on #159
Valid attack vector, and it's interesting because even if we had pins or other identifying information like IP, the attacker can still use the same.

I wonder if that;'s not a case in which emojis would be more interesting to use:

![emoji](https://user-images.githubusercontent.com/112898/49593211-2a7ce080-f95a-11e8-897a-109a2f4359a0.jpeg)

[2018-12-10 01:49] ryan-shea commented on #88
Hey @shine2lay and @alexvandesande, any news here? Want to check in 😄

[2018-12-10 17:02] shine2lay commented on #88
@ryan-shea no updates, can't progress until marek and i have a chat.
@ryan-shea could you remove me from the task? I feel bad that i can't put much time on it now. I don't want to hold up if anyone else wants to take on this task.

[2018-12-11 13:13] ceresstation commented on #88
@shine2lay do you have a rough estimate of how long it would take you if you were to stay on?

[2018-12-12 04:30] shine2lay commented on #88
@ceresstation unknown. like i mentioned the main reason is that i am blocked. We are attempting to unblock it but communication has been very slow.

[2018-12-12 13:51] alexvandesande commented on #159
Pinging @drhus for his work on emojicode

[2018-12-12 14:36] sergchernata commented on #98
What if you change the actual interaction and charge the user only when they save? This feels like too many steps overall. Something needs to be combined.

Also, in the demo each code has a username shown above the code, repeated 3 times. I know that it's to encourage cutting out of the individual codes, but imo the user is more likely to print the page 3 times or simply save it as a PDF. This cou

[2018-12-14 16:37] drhus commented on #159
If I understand correctly each device has its own key, and if you use blockie to visually represent this new device adding, this would create a confusion for the user, as he will see 2 blockies, the one on the top the ID/ENS and now new one the new device confirmation.

I agree with Alex, a picto-string _or emoji-like__ casual visual checksumming is a superior solution for such use cases, and work

[2018-12-14 17:50] gtlewis commented on #159
Pinging @tkali

[2018-12-20 11:07] marekkirejczyk commented on #94
This is done.

Register your own relayer domain and start relayer:
https://github.com/UniversalLogin/UniversalLoginSDK/blob/master/universal-login-relayer/README.md

Run example:
https://github.com/UniversalLogin/UniversalLoginSDK/blob/master/universal-login-example/README.md#running-example-on-testnet-environment

[2018-12-20 11:07] #94 closed

[2019-01-07 21:11] ethernian opened #187 "example broken, errors in log"
Current build seems to be broken.

# 1. Errors in `dev:start` log
[code]
# 2. dropdown box never finishes loading

![image](https://user-images.githubusercontent.com/4574735/50793174-a22a8c00-12c7-11e9-89a3-180e27447b00.png)

# 3.  `./scripts/test.sh` fails

[code]

[2019-01-08 13:36] JustynaBroniszewska commented on #187
Hi, thank you for your comment 😄

We added a database to the relayer and we didn’t mention it in the README. Your tests failed, because they could not connect to a local database. To get it working you can try and install PostgreSQL locally or wait for us to update the README with more recent info.

[2019-01-08 15:44] ethernian commented on #187
I have installed postgreSQL, but tests are still failing because of some missing configuraion (passwords?).
Should I try to fix the bugs on my own, or wait for updated README? When would you update it?

[2019-01-09 16:31] JustynaBroniszewska commented on #187
We've already updated it. Please, tell us if it works for you now. 😉

[2019-01-09 17:39] marekkirejczyk commented on #140
Topic is now closed.

[2019-01-09 17:39] #140 closed

[2019-01-09 17:42] marekkirejczyk commented on #99
Fixed by [143](https://github.com/UniversalLogin/UniversalLoginSDK/pull/143)

[2019-01-09 17:42] #99 closed

[2019-01-09 17:42] marekkirejczyk commented on #123
Done. Closing.

[2019-01-09 17:42] #123 closed

[2019-01-14 15:39] yaram commented on #152
I've had the build fail on windows as well.

All the errors are of a similar form to this:
[code]

I belive the issue is that Waffle is basing the import off of the current working directory, which is "universal-login-contracts".

The place where the files are searched for and the error is printed is [here](https://github.com/EthWorks/Waffle/blob/c7de9c7fd165380a965bf7928c8562f1e0857e62/lib/compil

[2019-01-14 15:43] yaram commented on #152
As for why the working directory is different on Windows, I'll try figuring that out.

[2019-01-14 16:39] yaram commented on #152
It seems that the function in Waffle isn't even called on Linux. I believe the source of the error is then solcjs or the arguments/parameters passed to it.

[2019-01-14 17:01] yaram commented on #152
Through testing I've found that solc is run with the same working directory on windows and linux, so the working directory is not the difference.

[2019-01-14 21:49] ceresstation commented on #102
Hey @ChrisCates how are things going on this, was your PR accepted? If it was or if you're still working on this could you apply to start work?

[2019-01-15 23:01] Kyrrui commented on #187
I was able to run the example with the latest guide & postgreSQL

[2019-01-16 09:53] Ramarti opened #197 "Demo at https://example.universallogin.io/ can't create account"
**What i did:**
1. Input a name following the example given in the ui, like:
yo.workthistime.eth
(tried several others later)
2. Click on "create"

**What I expected to happen**
The identity to be created and the demo to proceed.

**What happened**
See next screen for a fraction of a second, then:
<img width="1364" alt="captura de pantalla 2019-01-16 a las 10 43 29" src="https://user-images.github

[2019-01-16 11:01] marekkirejczyk commented on #197
It will only work with the following domains: `poppularapp.test`, `my-id.test`, `my-super-domain.test`.

[2019-01-16 11:02] marekkirejczyk commented on #187
We updated `dev:start` script, it will now create the database automatically. So all you need to have is Postgres up and running.

Closing for now. Feel free to reopen if still doesn't work

[2019-01-16 11:02] #187 closed

[2019-01-16 11:03] marekkirejczyk commented on #152
We don't have plans to support Windows as a development environment. Only Linux and OSX. If you make it work, however, I'll be happy to accept Pull Request.

[2019-01-16 11:03] #152 closed

[2019-01-16 11:13] Ramarti commented on #197
Hi!

Thanks for the response, I didn't notice that in the UI, neither in the first screen or the error one (in fact, the example you give , bob.example.eth won't work neither)

Since that may be the first contact people get from this awesome project, I'd suggest making it clearer, using a selector instead of a text input, a message or something that improves the UX.

Cheers!

[2019-01-16 12:40] alexvandesande commented on #197
@Ramarti there should be a dropdown visible Could you go back and confirm you have it? I would suspect this is a combination of one of these bugs:

<img width="546" alt="screen shot 2019-01-16 at 10 38 33 am" src="https://user-images.githubusercontent.com/112898/51249604-efb79080-197a-11e9-8b03-668fa8d35907.png">

1) *A technical bug*: for some reason the dropdown is not showing
2) *A usability bu

[2019-01-16 13:22] Ramarti commented on #197
1. Typed "yo" and waited --> Same result, although it does take a little while.

<img width="532" alt="captura de pantalla 2019-01-16 a las 14 18 36" src="https://user-images.githubusercontent.com/2632384/51251551-e1c53800-1999-11e9-9fb1-50a5a5057d59.png">

2. Typed random stuff --> Ok, no option available

<img width="546" alt="captura de pantalla 2019-01-16 a las 14 19 37" src="https://user-imag

[2019-01-16 13:53] alexvandesande commented on #197
yes, we are working on having better fail down mode and showing when name creation is not available. It's not immediately clear which ".eth" names should be allowed because, while on the demo there are only 3 options, we want that any name be able to support it

[2019-01-17 09:36] marekkirejczyk commented on #197
Ok, so I guess this is a bug that needs to be fixed.

[2019-01-17 13:11] Amxx opened #199 "node package missing dependencies"
I installed the SDK in my node test environment

```npm install universal-login-sdk --save-dev```

When I try to import the sdk I get an error:

```Cannot find module 'babel-runtime/regenerator'```

I installed babel-runtime with `npm uninstall babel-runtime --save-dev` but then I get another error:

[code]

[2019-01-18 03:35] yaram commented on #152
Just an update for anyone interested, I've fixed this in EthWorks/Waffle#59

[2019-01-18 10:15] Ramarti commented on #197
I think if the placeholder in the demo was "bob.oneofthesupporteddomains.test" instead of "bob.example.eth", people will tend to just type more in that line.

However if you are already working on a better more general solution it's ok, this is probably not of the highest priority.

Thanks for your responses, I think this project or something similar is critical for mass adoption. 👍

[2019-01-21 18:01] gtlewis commented on #159
The emojis are nice - however thinking more about this:

Actually I believe the visual verification does have to be derived from the public address/key - else a malicious gas relayer (or any malicious actor sending an authorisation request) can substitute their own key in the request. E.g. if request is sent to authorise `0x123...` with symbols mouse/surprise/wind/elephant" then a bogus request ca

[2019-01-21 20:07] drhus commented on #159
There is several javascript emoji pickers (emoji keyboards) but this is going to be a pain really, very inconvenient for the user to select that 4 emojis out of thousands of emojis..

even if we use Momcode's [keyboard ](ttps://momcode.io/lab/)(there is a simple keyboard module) it's going to be a pain still to find your emoji out of 256 ones
![screenshot of momcode __ deterministic visual identif

[2019-01-22 08:40] gtlewis commented on #159
Authorisation requests should expire (I e. dropped from the UI) after a period of time - say 15 minutes. So the question is how many attempts to create the same symbols can be made in 15 minutes. If
we think, say, 100million is enough combinations then 4 symbols with 100 in the set is adequate.

[2019-01-22 11:35] alexvandesande commented on #159
There are two threat models that we need to address:

1. A malicious relayer sees a request and changes it to their own address
2. The relayer is honest, but an attacker is sending multiple auth requests trying to trick someone in authorizing the wrong one

To address (1) I would go with @drhus approach of showing 12 symbols, 4 correct and 8 random, and asks the user to put them in order. This is

[2019-01-22 11:56] alexvandesande commented on #159
I would however add more than just the 256 selection you have shown. With that restricted set, 4 symbols represent the first 8 chars of an address, and that can be mined in a few seconds, while if we increase the symbol set to 1024, then 4 emojis represent 10 characters, which would take years in an average computer. We can even increase the security by picking 10 random characters from the addres

[2019-01-25 14:40] #199 closed

[2019-01-30 03:11] ryan-shea commented on #102
hey @ChrisCates, any updates on this one?

[2019-01-30 03:33] ryan-shea commented on #88
hey @shine2lay any updates here?

[2019-02-01 11:14] marekkirejczyk commented on #197
Closing, fixed by #201.

[2019-02-01 11:14] #197 closed

[2019-02-04 14:28] Giulio2002 opened #224 "Addresses for registrars used in relayer"
i am trying to setup a relayer on rinkeby but i need the resolvers and registrar addresses of each domain, in ENSRegistred.md there is only the public resolver address. is it possible to have the testRegistrars addresses and resolver address of each domain, and maybe add them somewhere in the docs. many thanks in advance.

[2019-02-06 13:07] JustynaBroniszewska commented on #224
Hi 😄 , recently we removed resolver and registrar addresses from relayer config. Now, relayer only needs name of each domain.
Check out [relayer documentation](https://universalloginsdk.readthedocs.io/en/latest/relayer.html) to learn more.

[2019-02-06 13:07] #224 closed

[2019-02-14 15:18] santiagorp opened #278 "Add support for other databases besides PostgreSQL"
The database for the authorisation service should be customisable and not force postgreSQL.

[2019-02-26 14:08] marekkirejczyk opened #307 "Simplify ENSRegistrar"
It seems we can simplify ENSRegistrar constructor and reduce deployment price:

We can use parentNode and label (we can make it string or even bytes32), so that
- nodeHash = keccak256(keccak256(label), parentNodeHash)
- nodeName = label + reverseName(parentNodeHash)
- FIFSRegistrar registrar -> owner(parentNodeHash)
- PublicResolver resolver -> could be resolver of parentNodeHash

It is currently

[2019-02-26 14:11] marekkirejczyk opened #308 "Rename Identity* -> Wallet*"
Identity-related naming is now deprecated. The main user-centric contract should use "wallet" or "walletContract" naming

Examples:
`IdentityProxy`, `IdentityMasterCopy` -> `WalletProxy`, `WalletMasterCopy`

[2019-02-26 14:14] marekkirejczyk opened #309 "Remove #725 references"
We don't use ERC725 implementation anymore. We can now remove unused contracts and simplify KeyHolder:
- [x] rename ERC725KeyHolder to KeyHolder
- [x] remove keyType
- [x] remove `adressToBytes32` conversions in all of the subprojects and use the `address` type as `key`

https://github.com/UniversalLogin/UniversalLoginSDK/blob/master/universal-login-contracts/contracts/ERC725KeyHolder.sol

[2019-02-26 14:38] marekkirejczyk opened #310 "Add Wyre integration to Universal Wallet"
To demonstrate Universal Login functionality we created Universal Wallet project [here](https://github.com/UniversalLogin/UniversalLoginSDK/tree/master/universal-login-wallet).

To showcase and testing how simple onboarding could be we would like to integrate simple debit card flow with [Wyre](https://www.sendwyre.com).

The HTML and CSS are ready and sliced:
- https://github.com/UniversalLogin/Un

[2019-02-26 17:30] marekkirejczyk opened #312 "[WIP] Counterfactual contract deployment with CREATE2"
With CREATE2 we can now create counterfactually deployed wallet contracts.

I think we should split that into multiple PRs:
1)  Add CREATE2 contract factory with support for meta transactions.
Intial implementation of factory by @cwhinfrey is on [ETHDenver hackathon branch](https://github.com/UniversalLogin/UniversalLoginSDK/blob/hackathon/universal-login-wallet/contracts/contracts/Create2Factory.

[2019-03-06 10:09] #309 closed

[2019-03-15 15:20] dteiml opened #341 "Demo at https://example.universallogin.io/ doesn't load"
**What I did:**
Typed 'dteiml' into the search box.

**What I expected to happen:**
I get a list of options to create and id.

**What happened:**
It's been loading for 11 minutes:

![this](https://i.imgur.com/WIrUmsR.png)

[2019-03-15 15:40] sz-piotr opened #342 "Relayer API for multisignature transactions"
# Relayer API for multisignature transactions

With the introduction of multisig into Universal Login the transaction is not immediately sent to the blockchain after the call to `execute`.

To remedy this I propose that the transaction lifecycle is acknowledged on the relayer side and made accessible through its api.

## The `execute` call

When a transaction is to be made using UniversalLogin it

[2019-03-19 18:37] alexvandesande opened #349 "new test issue"

[2019-03-19 18:42] #349 closed

[2019-03-19 18:43] alexvandesande commented on #349
tested

[2019-03-19 18:45] alexvandesande opened #350 "New Test Issue again"
check check

[2019-03-19 18:45] #350 closed

[2019-03-20 19:07] marekkirejczyk commented on #342
CC @Giulio2002

[2019-03-21 19:47] marekkirejczyk opened #361 "Contracts refactoring"
- [x] new folder structure: ENS, ERC1077, Wallet, common, mock
- [x] extract storage contracts (as base for MasterCopy and Proxy)
- [x] try to run tests for proxy and master as one suite with two configuration options
- [x] simplify master and proxy implementations
- [x] do we need both 1077 and identity master and proxy?
- [x] merge/remove unnecessary modifiers: `authorised`, `onlyManagementKeyOr

[2019-03-21 19:47] marekkirejczyk commented on #361
CC @canepat

[2019-03-22 18:01] Amxx commented on #361
Can I help with that ?

I have a working branch with erc1836 proxy (https://github.com/Amxx/UniversalLoginSDK/tree/erc1836) and I believe there is some good stuff to take from it. In particular, moving the initialisation logic (that includes ENS registration) to the master to reduce the deployment cost of the proxy.

Also, you should really consider supporting ERC1271 out of the box.

[2019-03-25 13:29] Amxx commented on #361
I think my PR solves most of these points. In particular I have the master/proxy switch in the relayer (ENSLegacy uses full contract while the standard deploies a proxy)

[2019-03-25 15:48] JustynaBroniszewska commented on #341
Hi @dteiml,
thank you for letting us know about this issue. Everything is working now. 😉
I'm closing this now but feel free to reopen it if anything happens 😄

[2019-03-25 15:48] #341 closed

[2019-03-26 21:15] Giulio2002 commented on #342
I would be Happy of taking care of it

[2019-03-26 23:56] santteegt commented on #102
is this bounty still open?

[2019-03-27 01:22] ChrisCates commented on #102
Yes. Ive been AWOL which is bad on my part.

[2019-03-27 19:38] Giulio2002 commented on #342
@marekkirejczyk @sz-piotr I am thinking of using a database to store the signatures, my question is: regarding the architecture of universal-login, do you consider acceptable using the PostgreSQL database that is already connected to the relayer or you prefer to store the signatures into a local variable in the relayer?

[2019-03-28 06:03] marekkirejczyk commented on #342
Yes

[2019-03-28 19:57] marekkirejczyk opened #381 "yarn clean should not delete node_modules"
Currently ‘yarn clean’ removes ‘node_modules’. Running yarn install after clean leads to uncontrolled dependency updates, which leads to nasty bugs.

We should remove node_modiles deletion from clean script.

Optionally we can make yarn purge script (which do delete node_modules) which might be useful for experimentaion and debbuging.

[2019-03-29 10:05] marekkirejczyk commented on #308
Implemented by following PRs: #372, #370, #357, #331

[2019-03-29 10:05] #308 closed

[2019-03-29 11:17] marekkirejczyk commented on #381
Fixed in #383

[2019-03-29 11:17] #381 closed

[2019-04-01 09:14] marekkirejczyk opened #388 "Relayer API - clean up exceptions"
There should be a clean hierarchy, that would map directly to HTTP codes.

[2019-04-01 22:28] canepat opened #392 "ERC1077 contract does not support safe ERC721 transfer"
The [ERC721](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-721.md) standard defines both safe (`safeTransferFrom`) and unsafe (`transferFrom`) APIs for the NFT ownership transfer to a smart contract. The safe transfer API, which prevents unintentional transfers to NFT-unaware contracts, requires that the receiving contract implements the `ERC721TokenReceiver` interface according to the spe

[2019-04-02 09:41] marekkirejczyk opened #395 "Add ENS as external dependency"
Can we have ENS contracts/jsons as external dependency?

NPMs:
@ensdomains/ens
@ensdomains/resolver

Example:
https://github.com/Amxx/KitsuneWallet-ERC1836/blob/master/package.json

[2019-04-02 11:52] marekkirejczyk commented on #395
Fixed by #397

[2019-04-02 11:52] #395 closed

[2019-04-02 15:37] #392 closed

[2019-04-04 12:28] Amxx opened #403 "Database format change causes relayer error"
It looks like the pgsql format has changed recently. The database was initialized (on my machine) when I first started using the SDK about 1 month ago and everything was working well until recently.

Creating wallet worked well, but when I tryed to connect to an existing wallet, the new device got an error from the relayer:

    error: "error: insert into \"authorisations\" (\"deviceInfo\", \"key\

[2019-04-05 09:52] marekkirejczyk commented on #403
Should be fixed #408

[2019-04-05 09:52] #403 closed

[2019-04-06 15:15] gjeanmart opened #413 "Relayer broken after commit de865de8b119de0a2808cfff64ee84c49d0445a6"
**Issue:**
Cannot start the relayer after the [commit #de865de8b119de0a2808cfff64ee84c49d0445a6](https://github.com/UniversalLogin/UniversalLoginSDK/commit/de865de8b119de0a2808cfff64ee84c49d0445a6)

The relayer was working fine before this commit but now it throws the following exception:
[code]

**Steps to reproduce**

1. clone the repository
```git clone git@github.com:UniversalLogin/UniversalLo

[2019-04-06 21:11] nanspro commented on #102
@alexvandesande it looks interesting and useful at the same time, i'd like to finish this one.
I am not able to apply through gitcoin as @CPPDevCrypto  is still assigned to this task.
Let me know if it's up for grabs :)

[2019-04-07 19:16] #413 closed

[2019-04-07 19:16] marekkirejczyk commented on #413
Should be fixed by #415

[2019-04-07 19:31] gjeanmart commented on #413
Awesome! Thank you @marekkirejczyk
I know it's still an early project, but you guys should consider separating stable code (`master` branch) from work in progress  (`dev` branch).
In the same context, I noticed that the NPM package [universal-login-sdk](https://www.npmjs.com/package/universal-login-sdk) is two months old and not compatible anymore with the current version of the relayer in master.

[2019-04-08 10:05] marekkirejczyk commented on #413
@gjeanmart
New versions of npm released, now under `universal-login` organization:
https://www.npmjs.com/org/universal-login
(see updated docs).
We plan to release regularly starting from the end of April.

At this point, it would be hard to distinguish between stable and unstable version.
We rather release often, automate as much testing as possible and fix quickly.

[2019-04-08 10:34] gjeanmart commented on #413
That's really cool @marekkirejczyk
I'm still learning and testing Universal-Login, so that npm packages will definitely help!

[2019-04-10 14:27] JustynaBroniszewska opened #424 "Refactor TokenService"
In this way there is no race conditions for sending tokens.

[code]

[2019-04-11 07:19] wighawag opened #426 "refund can be given even though the relayer did not provide enough gas for the external call"
As can be seen here :
https://github.com/UniversalLogin/UniversalLoginSDK/blob/6fb9f189c40ffc058f25b0e05107767d7457d66d/universal-login-contracts/contracts/ERC1077.sol#L120

The external call is made without specifying a gas amount and there is no check for gas anywhere. This means that due to EIP150 behaviour, the relayer can provide an amount of gas to the transaction so that the external call f

[2019-04-23 09:34] marekkirejczyk opened #441 "Example - event stream does not show"
Uncaught (in promise) Error: query returned more than 1000 results

[2019-05-06 11:49] RobertoSnap opened #455 "Ethers.js - query returned more than 1000 results. Loading activity stuck"
In example app at https://example.universallogin.io/ i get this error in console and stuck at "loading activity".

`ethers.min.js:1 Uncaught (in promise) Error: query returned more than 1000 results
    at m (ethers.min.js:1)
    at XMLHttpRequest.a.onreadystatechange (ethers.min.js:1)`

Tested from Chrome and Brave.

![image](https://user-images.githubusercontent.com/4772930/57223200-95b00900-700

[2019-05-06 12:57] JustynaBroniszewska commented on #455
Hi, @RobertoSnap !
Thanks for this issue! 😉
Fixed in #456  😄

[2019-05-06 12:58] #455 closed

[2019-05-07 06:49] #441 closed

[2019-05-07 15:39] canepat opened #463 "Meta-tx execution fails with ambiguous error when gas is insufficient"
Meta-tx execution fails in `Relayer` with ambiguous error (`Not enough tokens`) when provided gas limit is insufficient for the requested operation.

This problem can be tracked down to the `execute` function in the `TransactionService` class of `universal-login-relayer`, where the same exception message is used for both insufficient tokens and gas.

[2019-05-08 14:43] #463 closed

[2019-05-10 18:22] NoahMarconi opened #477 "gasLimit is not used in ERC1077.sol"
The `refund` looks at the delta after checkpointing `gasleft()` but ignores the gasLimit argument.

[2019-05-11 18:46] NoahMarconi commented on #477
extrahash is missing as well. Is this intentional?

[2019-05-16 13:30] michaelsena commented on #102
@santteegt I see you were interested in this bounty a while back. We're working on a spec internally for how this could be accomplished. @oed has broken it down into 2 parts. Basically, 1) link a 3Box account (DID) to a contract wallet, and 2) add multiple authentication methods to 3Box (multiple device/signing keys). It requires a new identity system that we're currently working on.

@oed feel fr

[2019-06-10 11:24] Amxx opened #547 "Postgres configuration"
When running `yarn test`, the relayer's tests fail with error

`database "universal_login_relayer_test" does not exist`

I realized that the postgres settings are hardcoded in `universal-login-relayer/lib/config/knexfile.ts`, but even with the right password for the postgres user, and the database created

[code]

I am still getting the same error.

2 question:
- Shouldn't there be mechanisms to o

[2019-07-08 12:44] chevdor opened #621 "Open up the number of node versions that can be used"
Today the project requires node 10.15 and nothing else.
Is there really such a hard requirement?

Would 10.15 and upward not work?

[2019-07-20 12:49] filips123 opened #655 "Support for multiple programming languages"
You should add support for other programming languages. There should be support for Python, PHP, Rust... and also languages that are used to build native applications.

This would be very useful because many developers use other languages and they can't use UniversalLogin right now. Also, supporting only one language is not so "Universal" 😃

[2019-07-25 12:57] Jaypov opened #681 "Relay is undeployable"
When running `yarn relayer:start` from the `universal-login-relay` directory there is an error.
a script is missing from the build.

```Error: Cannot find module '/home/vagrant/UniversalLoginSDK/universal-login-relayer/build/lib/startRelayer.js'```

Steps to reproduce:
1. Clone UniversalLoginSDK
2. install tool kit `yarn global add @universal-login/ops`
3. yarn install
4. yarn build
5. deploy toke

[2019-07-30 10:21] msieczko opened #699 "Unhandled promise rejection in SuggestionService"
# Issue
[isCorrectPrefix](https://github.com/UniversalLogin/UniversalLoginSDK/blob/cf09234caeb26c70d7ebbe3d27e64c31f50677dd/universal-login-commons/lib/core/services/SuggestionsService.ts#L26) method of SuggestionService returns true for prefix containing underscore (`_`) causing the call to walletContractExist to reject

## Steps to reproduce
1. Start wallet app
2. Type `aaa_` in name input field

[2019-07-30 11:23] msieczko opened #700 "SuggestionService suggests names which cause deploy() to throw"
# Issue
[`getSuggestions`](https://github.com/UniversalLogin/UniversalLoginSDK/blob/cf09234caeb26c70d7ebbe3d27e64c31f50677dd/universal-login-commons/lib/core/services/SuggestionsService.ts#L80) method of `SuggestionService` delivers suggestions for names including uppercase characters. Calling `deploy` method of the SDK with such name results in an exception.

## Steps to reproduce
1. Start wallet

[2019-07-31 11:41] JustynaBroniszewska commented on #681
Hi @Jaypov
Thank you for letting us know! Try the latest version of @universal-login (0.3.6). Starting relayer should work fine.
Closing, for now, feel free to reopen. 😉

[2019-07-31 11:41] #681 closed

[2019-08-06 17:33] pcowgill opened #742 "Links to LGPL-v3-licensed contract dirs broken in README"

[2019-08-06 17:34] pcowgill commented on #742
I think
[common](https://github.com/UniversalLogin/UniversalLoginSDK/tree/master/universal-login-contracts/contracts/erc1836/common)
and
[proxy](https://github.com/UniversalLogin/UniversalLoginSDK/tree/master/universal-login-contracts/contracts/erc1836/proxy)
are probably the correct links to use now.

[2019-08-07 12:52] JustynaBroniszewska commented on #742
Hi @pcowgill

You are right, links were outdated. Fixed in #745

Thank you! 😊

[2019-08-07 12:52] #742 closed

[2019-08-20 16:01] gasiortomasz commented on #700
https://github.com/UniversalLogin/UniversalLoginSDK/pull/837

[2019-08-20 16:01] #700 closed

[2019-08-20 16:02] gasiortomasz commented on #699
https://github.com/UniversalLogin/UniversalLoginSDK/pull/837

[2019-08-20 16:02] #699 closed

[2019-08-21 12:41] gasiortomasz commented on #621
Thanks for heads up. From now, node version is specified as ^10.9 in `package.json`.  https://github.com/UniversalLogin/UniversalLoginSDK/pull/840

[2019-08-21 12:41] #621 closed

[2019-09-08 09:19] #361 closed

[2019-09-08 09:19] #312 closed

[2019-09-08 09:19] #388 closed

[2019-09-08 09:20] #307 closed

[2019-09-08 09:20] #90 closed

[2019-09-08 09:21] marekkirejczyk commented on #159
Implemented!

[2019-09-08 09:21] #159 closed

[2019-09-16 21:59] #131 closed

[2019-09-25 02:17] lastmjs opened #1090 "Consider web components"
It would be great if web components could be considered over React components. Web components offer a native component model that is standardized and composable into any application using almost any library or framework. In the end it's just custom HTML elements. Using React will not allow easy interoperability with non-React projects. Also the payload to the client could be easily reduced by choo

[2019-10-03 09:49] DeepitPK opened #1189 "@universal-login/sdk build fails:"
yarn build execution report error:

[code]

[2019-10-04 21:22] Giulio2002 opened #1213 "Multi Network Relayer"
**Universal-Login MultiChain Relayer**

**On the surface**

**Relayer (people who start relayer):**

From the perspective of someone who wants to start its own relayer, the only changed is the format of the relayer’s configuration.

In its current state, the configuration format of the relayer is the following:

[code]

In my implementation of a MultiChain relayer instead:

[code]

In my implement

[2019-10-09 20:21] DeepitPK commented on #1189
the problem seem related to typescript version (DOM Updates):
https://devblogs.microsoft.com/typescript/announcing-typescript-3-6/#dom-updates

[2019-10-15 18:50] marekkirejczyk commented on #1213
Hi @Giulio2002, good work 👏👏 👏 👏 .

Below is the feedback:
0) General considerations are:
- Do we allow the same public key to be used in multiple wallets
- Do we allow contracts with the same address to exist on many networks

If the first is true then the second is true as well. If the second is true then we have to mitigate the transaction reply attack.

If we don't want to allow first or secon

[2019-10-18 00:08] canepat commented on #1213
@marekkirejczyk let's try to build upon your alternative proposal that sounds very good to me

The multi-chain support could be better referred to as **multi-chain UL account**: it shall allow any user to create and operate its own UL account within a subset of the networks supported by the UL relayers she is connected to. How the multi-chain UL relayer itself is realized is an implementation matt

[2019-10-18 11:20] PaoloRebuffo commented on #1213
On ENS name availability

This is a crucial architectural problem

1- I think we need to keep in mind that Universal Login is a synonym of Login with Ethereum and not Login with POA or Login with Rootstock (or Login with any ethereum like sidechain).

2- If I understand how UL works, in the creation of the user on the relayer the availability of the ENS related to the mainchain is checked otherwis

[2019-10-23 11:07] marekkirejczyk commented on #1213
Adding interesting link for reference:
https://eips.ethereum.org/EIPS/eip-2304

[2019-10-31 08:11] marekkirejczyk commented on #1213
# Multichain sdk

### Quick summary
A new direction was proposed in yesterday's discussion with @PaoloRebuffo and @canepat.
We call it multichain sdk.

The idea is to build a new sdk in top of existing sdk, without need for modifying relayer or smart contracts.

### ENS hierarchy
In this approach, there is a hierarchy of ENS deployments, let's say ENS on mainnet is called **master ENS** and ENS on

[2019-10-31 19:37] lastmjs opened #1498 "Provide ES Module distribution"
It would be very helpful if this library used ES Modules in the source code, or an ES Module distribution were provided, so that the code could run in the browser without bundling. Not everyone uses webpack or rollup or other bundlers, and requiring these tools to run the code is not ideal for all users. The code should run in the browser with as little modification as possible, which it does not

[2019-10-31 19:42] lastmjs commented on #1498
It would also be helpful to not rely on non-standard import functionality like importing json with ES Modules. Bundlers will take care of this, but I do not use the bundlers and the code should be able to run with as little modification as possible. For example, `sdk.ts` imports WalletContract as json. This is non-standard JavaScript and is not implemented by any ES Module implementation as far as

[2019-11-15 01:08] satoshi999 opened #1581 ""await sdk.start" will be hang up"
I wrote a simple code that tests the flow of creating a wallet, adding a key, and issuing a transaction.
But, it hang up where "await sdk.start". Subsequent processing does not work.
If delete run "sdk.start" without "await", it return error of "config not yet loaded".

How do I fix it?

[code]

[2019-11-15 06:07] satoshi999 opened #1582 "About UI when distributing keys"
Is the usage of Universal login as follows?

1: Deploy a contract to manage keys that can execution authority. When deploying, get Management key. User keeps this Management key in a safe place.
2: Add (delete) keys having execution authority to the contract. Only users with a Management key can add. Because Key addition requires the management key signature.
3: Distribute the added Key to the use

[2019-11-19 15:18] rzadp commented on #1581
Hey @satoshi999 , it seems that the local relayer is not running.

- Try `curl http://localhost:3311/config` in your terminal
  - you should receive `"config":{ (...)`
  - otherwise it means that you have not started a local relayer

Let us know if you have trouble starting the local relayer

[2020-01-23 00:04] TomaszWaszczyk commented on #102
Anyone is involved in the issue?

[2020-03-03 17:37] micksabox opened #1960 "Type compilation error for `universal-login start:dev`"
I followed the instructions to [setup development environment](https://universalloginsdk.readthedocs.io/en/latest/tutorial.html#development-environment).

This is the log I get when running `universal-login start:dev`. It seems like the relayer doesn't start. New to the project, looking forward to hacking on it. Thanks in advance.

[code]

[2020-05-07 07:51] johannbarbie opened #2250 "apple killed local storage. what does that mean for uniLogin?"
A [recent blog post by Apple’s Webkit](https://webkit.org/blog/10218/full-third-party-cookie-blocking-and-more/) announced that it will begin enforcing a “7-Day Cap on All Script-Writeable Storage”.

unilogin stores device keys [in local storage](https://github.com/UniLogin/UniLogin/blob/master/universal-login-react/src/core/services/StorageService.ts). how will it affect the user? which workaroun

[2020-05-18 12:40] marekkirejczyk commented on #2250
@johannbarbie
We are working on it and will announce new key storage strategy in 2-4 weeks.

[2020-05-18 14:52] johannbarbie commented on #2250
cool, also have a look at [bip-38](https://github.com/bitcoin/bips/blob/master/bip-0038.mediawiki). would love your opinion.

[2020-05-20 09:20] marekkirejczyk commented on #2250
We use Ethereum equivalent for storing backup key. Do you see more potential for it?

[2020-07-15 11:35] sz-piotr opened #2421 "Does the Relayer really need a public provider field"
https://github.com/UniLogin/UniLogin/blob/9012ea6ed975278237c5b039447715c1abb25f56/universal-login-relayer/src/http/relayers/Relayer.ts#L61

Since the change to use ProviderService everywhere is there still a need for a publicly exposed `provider` field